<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
         <span class="text-muted">&copy; Rooms for All 2021</span>
         <p class="text-muted">If you face any inconvenience or if you need improvments please let us know. Mail us on selvendranks@gmail.com</p>
    </div>

</footer>